In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as st

#Quantity to Quantity

##Pearsonr

###單一值比對

In [ ]:
def pearson_one_to_mutiple(data,compare_list,aim_data):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    correlation=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (c,pv) = st.pearsonr (data[aim_data],data[compare_list[i]])
        
        name.append(compare_list[i])
        correlation.append(c)
        p_value.append(pv)

    pd.set_option('display.float_format', lambda x:'%.3f'%x) #自定義pandas
    
    result=pd.DataFrame(correlation,name,columns=['Correlation'])
    result.insert(1,'p_value',p_value)
    return result

###全部比對

In [ ]:
def pearson_mutiple(data,compare_list):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    correlation=[]
    p_value=[]

    for i in range (len(compare_list)) :
        for j in range(len(compare_list)):
            (c,pv) = st.pearsonr (data[compare_list[i]],data[compare_list[j]])
        
        name.append(compare_list[i])
        correlation.append(c)
        p_value.append(pv)

    pd.set_option('display.float_format', lambda x:'%.3f'%x) #自定義pandas
    
    result=pd.DataFrame(correlation,name,columns=['Correlation'])
    result.insert(1,'p_value',p_value)
    return result

#Category to Quantity

##T-test(Two-Category)

In [ ]:
def ttest_compare(data,compare_list,aim_data,category1,category2):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    t_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (t,pv) = st.ttest_ind(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2])
        
        name.append(compare_list[i])
        t_value.append(t)
        p_value.append(pv)

    pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(t_value,name,columns=['t_value'])
    result.insert(1,'p_value',p_value)
    return result

##ANOVA(Multi-Category)

###三變數

In [ ]:
def anova_compare_three(data,compare_list,aim_data,category1,category2,category3):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2],data[compare_list[i]][data[aim_data]==category3])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

###四變數

In [ ]:
def anova_compare_four(data,compare_list,aim_data,category1,category2,category3,category4):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1,data[compare_list[i]][data[aim_data]==category2,data[compare_list[i]][data[aim_data]==category3,data[compare_list[i]][data[aim_data]==category4])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

###五變數

In [ ]:
def anova_compare_five(data,compare_list,aim_data,category1,category2,category3,category4,category5):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2],data[compare_list[i]][data[aim_data]==category3],data[compare_list[i]][data[aim_data]==category4],data[compare_list[i]][data[aim_data]==category5])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

###六變數

In [ ]:
def anova_compare_six(data,compare_list,aim_data,category1,category2,category3,category4,category5,category6):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2],data[compare_list[i]][data[aim_data]==category3],data[compare_list[i]][data[aim_data]==category4],data[compare_list[i]][data[aim_data]==category5],data[compare_list[i]][data[aim_data]==category6])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

###七變數

In [ ]:
def anova_compare_seven(data,compare_list,aim_data,category1,category2,category3,category4,category5,category6,category7):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2],data[compare_list[i]][data[aim_data]==category3],data[compare_list[i]][data[aim_data]==category4],data[compare_list[i]][data[aim_data]==category5],data[compare_list[i]][data[aim_data]==category6],data[compare_list[i]][data[aim_data]==category7])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

###十變數

In [ ]:
def anova_compare_ten(data,compare_list,aim_data,category1,category2,category3,category4,category5,category6,category7,category8,category9,category10):

    from scipy import stats as st
    import pandas as pd
    
    name=[]
    f_value=[]
    p_value=[]

    for i in range (len(compare_list)) :
        (f,pv) = st.f_oneway(data[compare_list[i]][data[aim_data]==category1],data[compare_list[i]][data[aim_data]==category2],data[compare_list[i]][data[aim_data]==category3],data[compare_list[i]][data[aim_data]==category4],data[compare_list[i]][data[aim_data]==category5],data[compare_list[i]][data[aim_data]==category6],data[compare_list[i]][data[aim_data]==category7],data[compare_list[i]][data[aim_data]==category8],data[compare_list[i]][data[aim_data]==category9],data[compare_list[i]][data[aim_data]==category10])
        
        name.append(compare_list[i])
        f_value.append(f)
        p_value.append(pv)

    # pd.set_option('display.float_format', lambda x:'%.2f'%x) #自定義pandas
    
    result=pd.DataFrame(f_value,name,columns=['f_value'])
    result.insert(1,'p_value',p_value)
    return result

#Category to Category